body {
  font-family: 'Merriweather', arial;
  border: 5px solid black;
  margin: 60px;
  padding: 10px 20px;
}
h2 {
    color: #8892EA;
    font-family: arial;
    font-size: 20px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
ul {
  color: gray;
  font-size: 14px;
}
p {
  font-size: 14px;
}
